.footer{
    background-color: rgb(41, 41, 41);
    display: flex;
    width: 100%;
    height: 27vh;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.f1 h1{
    font-weight: bold;
    font-size: 20px;
}


.footer .f1{
    font-size: 13px;
    margin-right: 7%;
    margin-left: 7%;
    height: 100%;
    flex: 30%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.f1 button{
    margin-top: 10%;
    background-color: transparent;
    color: white;
    border: 0px;
}

.f1 button:hover{
    font-weight: bold;
    font-size: 14px;
}

.footer .f1 .link{
    text-decoration: none;
    color: white;
}

.f1 p{
    margin-top: 10%;
}

.f1 .icons{
    margin-top: 10%;
}

.f1 .logo{
    margin-top: 60%;
    width: 100px;
}

@media only screen and (max-width: 600px) {

    .footer{
        flex-direction: column;
        height: 170vh;
        background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(44, 44, 44) 0.3%, rgb(44, 44, 44) 90.2% );
    }
    
    .f1 .logo{
        visibility: hidden;
        display: none;
    }
  }