.homecontact{
    background:linear-gradient(rgba(247, 12, 12, 0.788), rgba(233, 37, 37, 0.63)), url('../../assets/wallpaper.jpg');
    display: flex;
    width: 100%;
    height: 15vh;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homecontact .textcontact{
    color: white;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    text-align: center;
    justify-content: center;
}
