nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    color: white;
}

nav .menu{
    display: none;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px 30px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

nav ul li:hover {
    font-weight: bold;  
}

nav .logo{
    width: 40px;
}

.navbar.active{
    background: #a73737;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

nav ul li .link{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 600px) {

    nav{
        width: 100%;
        position: fixed;
    }

    nav ul li {
        display: none;
    }

    nav .logo{
        padding: 10px;
    }

    nav .menu{
        display: flex;
        margin-right: 5%;
    }

  }