nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    color: white;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px 30px;
    cursor: pointer;
}

nav ul li:hover {
    font-weight: bold;  
}

nav .logo{
    width: 40px;
}

.navbar.active{
    background:linear-gradient(rgb(20, 20, 20), rgba(0, 0, 0, 0.781));
}